@charset "UTF-8";

@media (min-width: 400px) {

    nav > img {
        position: absolute;
        left: 5px;
    }

    header {
        height: 300px;
        background-position: right top;
       
    }

    header > div#texto-header {
        width: 50%;
        height: 100%;
       
    }


    div#texto-header > h2 {
        padding-top: 30px;
        text-align: center;
    }

    div#texto-header > p {

        padding-left: 10px;
        text-align: justify;
    }

    main > h2 {
        font-size: 1.4em;
    }

}





@media (min-width: 444px ) and (max-width: 776px ) {
    div#entrada-dados {
        width: 75%;

    }

    /* section.secao-saida {
        width: 75%;
        transition: width 2s, height 1s;
        transition-timing-function: ease; 

    } */


}



@media (min-width: 765px) {
    
    header {
        height: 420px;
        background-image: url(../imagens/imgs-background/imagem-rótulo2.jpeg);
    }
}


@media (min-width: 767px) {
    div#entrada-dados {
        width: 50%;
        transition: width 1.2s, height 1s;
        transition-timing-function: ease;    
    }

     section.secao-saida {
        width: 70%;
        transition: width 2s, height 1s;
        transition-timing-function: ease; 

    } 


}





/*largura padrão min: 234 px max: 443



para tablets min: 444px max: 766 ( imagens recortadas, menu lateral some e as opções ficam no nav)

para desktops: 768px max: 2000px

*/