@charset "UTF-8";

@media (min-width: 442px) {

    nav > img {
        position: absolute;
        left: 5px;
    }

    
    header {
        position: inherit;
    }
            
    header > div#texto-header {
        width: 50%;
        height: 100%;
        position: inherit;
        padding: 0;
        justify-content: center;
       
    }

    /* header {
        height: 300px;
    }

    
    header > div#texto-header {
        width: 50%;
        height: 100%;
       
    } */

    div#texto-header > h2 {
        padding-top: 30px;
        text-align: center;
    }

    div#texto-header > p {

        padding-left: 10px;
        text-align: justify;
    }

    main > h2 {
        font-size: 1.4em;
    }

    div#container-entrada > input {
        /* width: 15%; */
    }

}


@media (min-width: 500px) { /*media query padrão para tamanho dos inputs das três páginas de cálculo*/
    div#container-entrada > input {
        width: 20%;
        transition: width 2s, height 1s;
    }
}





@media (min-width: 444px ) and (max-width: 776px ) {
    div#container-entrada {
        width: 75%;
        
    }

    div#saida {
        width: 75%;
    }


}


@media (min-width: 765px) {
    header {
        height: 420px;
        
        
    }
}


@media (min-width: 767px) {
    div#container-entrada {
        width: 50%;
        transition: width 2s, height 1s;
        transition-timing-function: ease; 
    }

    div#saida {
        width: 50%;
    }
}