@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

:root {

    /* novas cores*/

    --fulvous: #E98A15;
    --atomicTangerine: #F98948;
    --cor02: #e28502;
    --egyptianBlue: #29339B;
    --coolGray: #A7A5C6;
    --fernGreen: #3f784c;

/* cores velhas*/

    --tangerine: #EB7F04;
    --blackbean: #3C1518;
    --bloodred: #69140E;
    --honolulu: #2176AE;
    --rosequartz: #9A8C98;
    --cor1: #59876D;
    --cor2: #CFB094;

}

* {
    margin: 0px;
    padding: 0px;
}


h1 {
    /* font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
     */
     font-family: 'Kanit', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: #e28502;
     background-color: black;
     overflow: hidden;
     font-size: 16px;
     font-weight: 700;
     text-align: center;
     /* margin-top: 20px; */
     margin-bottom: 0px;
     padding: 8px;
 }



header {
    background-image: url(../imagens/imgs-background/imagem-rótulo.jpeg); /* deve ser a imagem de um rótulo*/
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 390px;
    position: relative;
    margin: 0px 0px 25px 0px;

}

div#texto-header > h2 {
    font-family: 'Anton-SC', sans-serif;
    font-weight: 300;
}


div#texto-header {
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    background-image: linear-gradient(rgba(29, 25, 25, 0.962), black);
    width: 100vw;
    bottom: 0;
    height: 50%;
    position: absolute;
    font-size: 0.9em;
    /* color: orange;
    background-image:linear-gradient(rgba(29, 25, 25, 0.962), black);
    width: 100vw;
    bottom: 0;
    height: 53%;
    position: absolute;
    font-size: 0.9em; */
}

main {
    width: 100vw;
    height: auto;;
    margin: 0;
    padding: 0;
   
}


div#texto-header > h2, p {
    width: 89%;
    text-align: justify;
    padding-left: 5px;
   
    margin-right: 1px;
}

div#texto-header > p {
    text-indent: 2px;
}

section#container-entrada {
    width: 100vw;
    height: 255px;
    /* background-color: blue; */

    margin-bottom: 20px;



 
    /* margin: 0px 0px 40px 0px; */

   
    
  
 
}

div#entrada-dados {
    font-family: 'Kanit', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 85%; 

    margin: auto;
   
    /* min-width: 70%;
    max-width: 85%; */
    height: auto;
    padding: 8px;
    background-image: linear-gradient(to right, #e98a15, #e28502);
    /* background-color: whitesmoke; */
 
    display: flex;

    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px -2px 9px rgba(0, 0, 0, 0.797);
    text-align: center;
    align-items: center;
    
    
   
    flex-direction: column;

  
  
   

    /* display: flex;
    width: 80%;
    background-color: yellow;
    position: absolute;
    flex-direction: column;
    align-items: center; */
}
/* 
 section#container-entrada > div#entrada-dados > hr {
  
    width: 196px;
    height: 1px;
    margin-bottom: 2px;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
   
} */


h4 {
    text-align: center;
}


div#entrada-dados > label > span {
    color: black;
    font-size: 25px;
    transform: translateY(24%);
    padding-right: 2.5px;
}



div#entrada-dados > label {
    color: whitesmoke;
    font-size: 13px;
    font-weight: 600;
    display: block;

}

div#entrada-dados > input {
    width: 20%;
    height: 30px;
    background-color: whitesmoke;
    color: black;
    border: 3px solid black;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 6px;
    font-weight: bold; 
    text-align: center;
    
}

div#entrada-dados > input:focus {
   background-color: black;
   
   border: none;
   color: #E98A15;
   border: 3px solid white;

    /* height: 20.9;
    border: none;
    color: #E98A15;
    background-color: black; */
}

span.icon-erro {
    font-size: 20px;
    transform: translateY(20%);
    margin-right: 2.5px;
}

p.pErro {
    color: red;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    text-align: center;
}

p#pErroCarb {
    display: none;
    width: auto;
    margin: 0px;

}

p#pErroProt {
    display: none;
    width: auto;
    margin: 0px;

}

p#pErroLipi {
    display: none;
    width: auto;
    margin: 0px;
}

button#calcular:hover {
    color: white;
    /* color: #69140E; */
    cursor: pointer;
}

button.botao {
    background-color: transparent;
    border: none;
    cursor: pointer;

}



 button#calcular {
    bottom: 0%;
    height: 30px;
    /* background-color: red; */
    display: block;
  
    margin-top: 10px;
    margin: auto;
   
}

button#calcular > span {
    font-size: 31px;
}


  div#resetar {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
 
  }

  button#botao-resetar > span#span-resetar  {
    width: auto;
    height: auto;
    font-size: 41px;
  }


 
  
  

 span#span-resetar:hover {
   cursor: pointer;
    color: #e28502; 
 }

 .h2Main {
    margin: 20px 0px 20px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    /* font-family: 'Work Sans', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    text-align: center;

} 




section#section-oculta {
 
    
   
    background-color: white;
    /* background-color: rgb(101, 96, 96); */
    width: 100vw;
    height: 700px;
    margin: 20px 0px 100px 0px;
    padding: 0px;
    display: none; 
   

   

    /* display: none; */
    /* transition: all .10s ease; */


}




.secao-saida {
    color: white;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    height: auto;
    margin: auto;
    background-color: black;
    /* background-image: radial-gradient( #e98a15, #e28502); */
    /* background-color: orange; */
    /* background-color: orange; */
    /* left: 7.7%;
    right: 7.7%; */
     /* margin-bottom: 15px; */
    margin-top: 10px; 
  
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
  
   
    border-radius: 16px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.797);

    justify-content: center;

}


/* .container-saida {
    width: 100%;
    background-color: green;
    display: block;
    position: absolute;
} */


.container-formula {
    margin: auto;
    margin-bottom: 10px;
    color: #3C1518;
    font-size: 0.9em;
    font-weight: 800;
    font-family: 'Work Sans', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 50%;
    background-image: radial-gradient( #e98a15, #e28502);
    /* background-color: aqua; */
    display: block;
    border-radius: 11px;
    padding: 3px;
}

.container-formula > p {
    text-align: center;
}

 .numInput {
    color: whitesmoke;
    /* color: yellow; */
}

/* h2 {
    text-align: center;
} */


h3 {
    text-align: center;
    color: #f16819;
}

h4#saida-totalCal {
    font-family: 'Kanit', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3em;
    margin: 10px 0px 10px 0px;
    color: whitesmoke
}



/* section#secao-carb {
    margin-top: 20px;
} */














