@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}



nav {
    color: black;
    width: 100vw;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: orange;
    display: flex;
    top: 0px;

}

nav > h5 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    margin-right: 5px;
}

nav > span.material-symbols-outlined {
    font-size: 39px;
    color: black;
    position: absolute;
    top: 5px;
    right: 0;
    padding-right: 20px;
}

h1 {
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
}


header {
    background-image: url(../imagens/imgs-background/imagem-rótulo.jpeg); /* deve ser a imagem de um rótulo*/
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 230px;
    position: relative;

}

div#texto-header {
    color: orange;
    background-image:linear-gradient(rgba(29, 25, 25, 0.962), black);
    width: 100vw;
    bottom: 0;
    height: 53%;
    position: absolute;
    font-size: 0.9em;
}

div#texto-header > h2, p {
    text-align: justify;
    padding: 2px;
    margin-left: 0.4px;
    margin-right: 1px;
}

section#container-entrada {
    width: 100vw;
    height: 150px;
    /* background-color: blue; */
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
}

div#entrada-dados {
    width: 85%;
    height: 100%;
    padding: 2px;
    background-image: linear-gradient(to right, #e98a15, #e28502);
    /* background-color: whitesmoke; */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px -2px 9px rgba(0, 0, 0, 0.797);
  
   

    /* display: flex;
    width: 80%;
    background-color: yellow;
    position: absolute;
    flex-direction: column;
    align-items: center; */
}
/* 
 section#container-entrada > div#entrada-dados > hr {
  
    width: 196px;
    height: 1px;
    margin-bottom: 2px;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
   
} */


h4 {
    text-align: center;
}

div#entrada-dados > label {
    font-size: 0.9em;
    color: whitesmoke;

}

div#entrada-dados > input {
    width: 20%;
    height: 50px;
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
    border-radius: 2px;
    margin-top: 2px;  
    font-weight: bold; 
    text-align: center;
}

div#entrada-dados > input:hover {
   background-color: black;
   height: 55px;
   border: none;
   color: #E98A15;
   border: 1px solid white;

    /* height: 20.9;
    border: none;
    color: #E98A15;
    background-color: black; */
}



section#container-entrada > a {
    width: 60px;
    height: 30px;
    background-color: red;
    bottom: 0;
}

h2 {
    text-align: center;
}

section#section-oculta {
    background-color: white;
    /* background-color: rgb(101, 96, 96); */
    width: 100vw;
    height: 500px;
    margin: 0px;
    padding: 0px;
    display: block;
    /* display: none; */
    transition: all .10s ease;


}




.secao-saida {
    width: 100vw;
    height: 70px;
    background-color: white;
    /* background-color: orange; */
    /* left: 7.7%;
    right: 7.7%; */
    margin-bottom: 25px;
    margin-top: 0;

    display: inline-block;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;


}


.container-saida {
    width: 100%;
    background-color: green;
    display: block;
    position: absolute;
}


.container-formula {
    width: 50%;
    background-color: aqua;
    display: block;
    position: absolute;
    left: 25%;
    bottom: 3px;
    text-align: center;
    border-radius: 11px;
    padding: 3px;
}















