@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /* novas cores*/

    --fulvous: #E98A15;
    --atomicTangerine: #F98948;
    --egyptianBlue: #29339B;
    --coolGray: #A7A5C6;
    --fernGreen: #3f784c;

/* cores velhas*/

    --tangerine: #EB7F04;
    --blackbean: #3C1518;
    --bloodred: #69140E;
    --honolulu: #2176AE;
    --rosequartz: #9A8C98;
    --cor1: #59876D;
    --cor2: #CFB094;

}

* {
    margin: 0px;
    padding: 0px;
}

nav#fixa {
    top: 0;
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 2;
}

nav {
    color: black;
    width: 100vw;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: #F98948;
    display: flex;
    top: 0px;
}

/* nav > h5 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    margin-right: 5px;
} */


nav > a > span.material-symbols-outlined {
    font-size: 39px;
    color: black;
    position: absolute;
    top: 5px;
    right: 0;
    padding-right: 20px;
}

h1 {
    /* font-size: 19px;
    text-align: center;
    margin-bottom: 10px; */
    font-family: 'Kanit', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e28502;
    background-color: black;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 8px;
}



header {
    background-image: url(../imagens/imgs-background/woman-498257_1920.jpg); /* deve ser a imagem de um rótulo*/
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 390px;
    position: relative;
    margin: 0px 0px 25px 0px;

}

div#texto-header > h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
}



div#texto-header {
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    background-image:linear-gradient(rgba(29, 25, 25, 0.962), black);
    width: 100vw;
    bottom: 0;
    height: 53%;
    position: absolute;
    font-size: 0.9em;
}

main {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
   
}

div#texto-header > h2, p {
    width: 89%;
    text-align: justify;
    padding: 4px;
    margin-left: 0.4px;
    margin-right: 1px;
}


section#section-entrada {
    /* background-color: blue; */
    background-color: white;
    width: 100vw;
    height: 195px;
    margin: 0px;
    display: flex;
    position: relative;
    justify-content: center;
}

div#container-entrada {
    /* background-color: yellow; */
    background-image: linear-gradient(to bottom, #e98a15, #e28502);
    width: 85%;
    height: auto;
    margin: 0px;
    margin-bottom: 20px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;

    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px -2px 9px rgba(0, 0, 0, 0.797);
}


div#container-entrada > label {
    font-size: 0.9em;
    color: whitesmoke;


}

div#container-entrada > input {
    width: 20%;
    height: 25px;
    background-color: whitesmoke;
    color: black; 
    /* color: orange; */
    border: 3px solid black;
    border-radius: 2px;
    margin-top: 2px;
    font-weight: bold;
    text-align: center;

}

div#container-entrada > input:focus {
     background-color: black; 
    /* background-color: orange; */
    height: 25px;
    border: none;
    /* color: black; */
     color: #E98A15; 
     border: 3px solid white;
     text-align: center;
}

p.pErro {
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    text-align: center;
   
}

p#pErroPeso {
    display: none;
    width: auto;
    margin: 0;
}

p#pErroAlt {
    display: none;
    width: auto;
    margin: 0;
}

p#pErroIdade {
    display: none;
    width: auto;
    margin: 0;
    margin-bottom: 30px;
}




div#botoes {
    width: 80%;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 0;
    text-align: center;
    font-size: 0.9em;
    padding: 0px 0px 4px 0px;
    
}


/* button.a {                                                                                                    
    width: 65px;
    height: 40px;


} */


div#botoes {
   
    bottom: 0;
}

button.botao {
    font-size: 0.9em;
    font-weight: bold;
    color: orange;
}



button#botao-masc {
    width: 72px;
    height: 40px;
    background-color: black;
    color: rgb(10, 10, 201);
    /* background-color: aquamarine; */
    border-radius: 10px;
    border: 2px black;
    

}

button#botao-fem {
    color: rgb(217, 36, 96);
    width: 72px;
    height: 40px;
    background-color: black;
    /* background-color: pink; */
    border-radius: 10px;
    border: 2px black;
}



section#oculta {
    display: none; 
    width: 100vw;
}



section#container {
    /* color: white;
    background-color: blueviolet; */
    background-color: white;
    width: 100vw;
    height: 150px;
    display: flex;
    position: relative;
    justify-content: center;
    

}


div#saida {
    /* background-color: chartreuse; */
    background-image: linear-gradient(to right, #e98a15, #e28502);
    color: white;
    font-weight: bold;
    width: 85%;
    height: 70px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px 8px 8px 8px;
    margin-top: 2px;
    /* box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.797); */

}




div#saida > p#saidaGeb {
    width: 50%;
    height: auto;
    background-color: black;
    color: aqua;
    display: block;
    position: absolute;
     top: 15%;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
}

 /* div#saida > p#res {
    display: block;
    position: absolute;
    top: 0;
    text-align: center;
}  */


div#saida > a > span.material-symbols-outlined {
    font-size: 1.9em;
    width: 4px;
    left: 47%;
    display: block;
    position: absolute;
    bottom: 0;
}



