@charset "UTF-8";

/* versão mobile first, de 680px para baixo*/


 /* @font-face {
    font-family: 'JackportRegular', Verdana, Geneva, Tahoma, sans-serif ;
    src: url(../fontes/JackportRegularNcv-BeY3.ttf);
}

@font-face {
    font-family: 'SportageDemo';
    src: url(../fontes/SportageDemo-DO0A1.otf);
}

@font-face {
    font-family: 'SportageDemoItalic';
    src: url(../fontes/SportageDemoitalic-p735r.otf); 
}

@font-face {
    font-family: 'Sui';
    src: url(../fontes/sui-generis-free/sui\ generis\ rg.otf);
}  */


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





:root {

    /* novas cores*/

    --fulvous: #E98A15;
    --atomicTangerine: #F98948;
    --egyptianBlue: #29339B;
    --coolGray: #A7A5C6;
    --fernGreen: #3f784c;

/* cores velhas*/

    --tangerine: #EB7F04;
    --blackbean: #3C1518;
    --bloodred: #69140E;
    --honolulu: #2176AE;
    --rosequartz: #9A8C98;
    --cor1: #59876D;
    --cor2: #CFB094;
  

    /* é melhor pegar uma cor unica e ir pegando os tons mais escuros dela, igual  o site do tailwind*/


    /* --cor1: #101119;
    --cor2: #8d99ae;
    --cor3: #edf2f4;
    --cor4: #d80032; */

}

* {
    margin: 0px;
    padding: 0px;
}


nav {
    color: black;
    width: 100vw;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: orange;
    display: flex;
    top: 0px;

}

nav > h5 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    margin-right: 5px;
}

nav > span.material-symbols-outlined {
    font-size: 39px;
    color: black;
    position: absolute;
    top: 5px;
    right: 0;
    padding-right: 20px;
}

h1 {
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
}

header {
    background-image: url(../imagens/imgs-background/pexels-beyzahzah-15319043.jpg);
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 230px;
    position: relative;
 

}

div#texto-header {
    color: orange;
    background-image:linear-gradient(rgba(29, 25, 25, 0.962), black);
    width: 100vw;
    bottom: 0;
    height: 50%;
    position: absolute;
    font-size: 0.9em;
}

div#texto-header > h2, p {
    text-align: justify;
    padding: 2px;
    margin-left: 0.4px;
    margin-right: 1px;
}

main {
    height: 100vh;
    /* background-color: red; */
    margin: 0px;
    padding: 0px;
  

}

section#container-entrada {
    /* background-color: pink;  */
    position: relative;
    display: flex;
   justify-content: center;
  
   
   
   
    /*margin: auto;  somente em telas maiores*/
    width: 100%;
    height: 150px;
 
}



div#entrada-dados {
    display: flex;
    width: 85%;
    height: 100%;
    background-image: linear-gradient(to right, #e98a15, #e28502);
    /* background-color: yellow; */
    position: absolute;
    flex-direction: column;
    align-items: center;

    border-radius: 8px 8px 0px 0px;
    box-shadow: 1px -2px 9px rgba(0, 0, 0, 0.797);
    /* border-radius: 8%; se juntos, este tem prioridade */
    /* bottom: 0; */
  
   
  
    
}


div#entrada-dados > label  {
    font-size: 1.2em;
    color: whitesmoke;
    width: 60%;
    height: 15%;
    text-align: center;
    margin: 0;
    margin-top: 8px;
  
}

div#entrada-dados > input {
    color: black;
    font-weight: bolder;
    text-align: center;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 4px;
    width: 45px;
    height: 20px;
    margin-top: 3px;   
  
}

div#entrada-dados > input:hover {
    height: 20.9;
    border: none;
    color: #E98A15;
    background-color: black;
}


section#section-oculta {
    display: none;
    position: relative;
}


div#container-saida {
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    display: flex;
    position: relative;
  
    flex-direction: column;
    align-items: center;
   
  
}


div#saida {

    width: 85%;
    height: 200px;
    background-image: linear-gradient(to right, #e98a15, #e28502);
    /* background-color: violet; */
    position: relative;
    justify-content: center;
    display: inline-flex;
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.797);
    top: 2%;
    border-radius: 0px 0px 8px 8px;
    
    /* 2.0px 2.0px 7px black */
    

    /* display: flex;
    width: 80%;
    background-color: yellow;
    position: absolute;
    flex-direction: column;
    align-items: center; */
   
}


/* div#botao-resetar {
    width: 100%;
    display: block;
    position: absolute;
} */





/* hr {
    background-color: rgb(7, 100, 100);
    width: 100%;
    height: 4px;
    margin-top: 2px;
    display: block;
} */


div#saida > p#saida-res {
    text-align: center;
    color: black;
    width: 80%;
    height: 30px;
    background-color: whitesmoke;
    display: block;
    position: absolute;
    margin: 0px;
    top: 15px;
    margin-bottom: 2px;
    border-radius: 9px 9px;
   
   

     /* NÃO TÁ ALINHADO DIREITO  */

}

div#saida > p#saida-frase {
    font-size: small;
    text-align: center;
    color: black;
    background-color: whitesmoke;
    width: 80%;
    height: 30px;
    margin: 0;
    top: 63px;
    border-radius: 9px 9px;
    display: block;
    position: absolute;

}


div#saida >  p#saida-form {
    text-align: center;
    color: black;
    width: 80%;
    height: 30px;
    top: 114px;
    /* bottom: 28%; */
    background-color: whitesmoke;
    display: block;
    position: absolute;
    margin: 0;
    border-radius: 9px 9px;
   
}
/* div#saida-dados > div#btn-restart {
    width: 70%;
    display: block;
    position: absolute;
    margin: 0;
 
  
  
} */


span#resetar.material-symbols-outlined   {
    font-size: 30px;
    width: 30px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 43%;
}




span.material-symbols-outlined {
    display: block;
    font-size: 30px;
    position: absolute;
    top: 80%;
    right: 43%;
}

/* div#container-btn {
    display: block;
    background-color: aquamarine;
    width: 30px;
    height: 20px;
}

div#container-btn > a {
    width: 50%;
    height: 10%;
    bottom: 0%;
    display: block;
    background-color: white; */
    


hr {
    color: white;
}





   
  

 



/* 
a > .material-symbols-outlined {
   
} */













