@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


nav {
    color: black;
    width: 100vw;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: orange;
    display: flex;
    top: 0px;

}

nav > h5 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    margin-right: 5px;
}

nav > span.material-symbols-outlined {
    font-size: 39px;
    color: black;
    position: absolute;
    top: 5px;
    right: 0;
    padding-right: 20px;
}

h1 {
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
}

header {
    background-image: url(../imagens/imgs-background/pexels-beyzahzah-15319043.jpg);
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 230px;
    position: relative;
 

}

div#texto-header {
    color: orange;
    background-image:linear-gradient(rgba(29, 25, 25, 0.962), black);
    width: 100vw;
    bottom: 0;
    height: 50%;
    position: absolute;
    font-size: 0.9em;
}

div#texto-header > h2, p {
    text-align: justify;
    padding: 2px;
    margin-left: 0.4px;
    margin-right: 1px;
}

main {
    height: 100vh;
    background-color: red;
    margin: 0px;
    padding: 0px;
  

}

section#container-entrada {
    background-color: pink;
    position: relative;
    display: flex;
    justify-content: center;
   
   
   
    /*margin: auto;  somente em telas maiores*/
    width: 100%;
    height: 150px;
 
}



div#entrada-dados {
    display: flex;
    width: 80%;
    background-color: yellow;
    position: absolute;
    flex-direction: column;
    align-items: center;
  
   
  
    
}


div#entrada-dados > label {
   
    color: blue;
    width: 60%;
    height: 20%;
    margin-top: 2px;
   
    
   
  
}

div#entrada-dados > input {
    width: 50px;
    margin-top: 3px;
   
    
  
}


section#section-oculta {
    display: none ;
}


div#container-saida {
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


div#saida-dados {
    background-color: blueviolet;
    width: 90%;
    display: block;
}


/* hr {
    background-color: rgb(7, 100, 100);
    width: 100%;
    height: 4px;
    margin-top: 2px;
    display: block;
} */


div#saida-dados > p {
    width: 100%;
    background-color: green;
    display: block;
    margin-bottom: 2px; /*tira depois*/

}




span.material-symbols-outlined {
    display: block;
}

/* div#container-btn {
    display: block;
    background-color: aquamarine;
    width: 30px;
    height: 20px;
}

div#container-btn > a {
    width: 50%;
    height: 10%;
    bottom: 0%;
    display: block;
    background-color: white; */
    


hr {
    color: white;
}





   
  

 



/* 
a > .material-symbols-outlined {
   
} */













