@charset "UTF-8";


nav#fixa {
    display: block;
    position: sticky; /* solução temporária para Nav sobrepondo conteúdo*/
    margin: 0;
    padding: 0;
    z-index: 2;
    top: 0;
}

nav#nav-itens {
    color: black;
    width: 100vw;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: #F98948;
    display: flex;
    justify-content: space-between;
 
  
    position: relative;

    border-bottom: 4px solid  black;
    

}



nav#nav-itens > picture {
    display: block;
   height: auto; 
   margin: 0;
   padding-left: 5px;

}



/* nav > h5 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    margin-right: 5px;
} */

nav#nav-itens > a > span.material-symbols-outlined {
    margin: 0;
    display: block;
    height: auto;
    font-size: 36px;
    color: black;
   
    transform: translateY(25%);
  
    padding: 0;
    padding-right: 20px;
  
;
}

nav#nav-itens > a {
    text-decoration: none;
}