

@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

:root {

    /* novas cores*/

    --fulvous: #E98A15;
    --atomicTangerine: #F98948;
    --egyptianBlue: #29339B;
    --coolGray: #A7A5C6;
    --fernGreen: #3f784c;

/* cores velhas*/

    --tangerine: #EB7F04;
    --blackbean: #3C1518;
    --bloodred: #69140E;
    --honolulu: #2176AE;
    --rosequartz: #9A8C98;
    --cor1: #59876D;
    --cor2: #CFB094;

}

* {
    margin: 0px;
    padding: 0px;
}



header {
    background-image: url(../imagens/imgs-background/pexels-victor-freitas-703016.jpg);



  
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 270px;
    position: relative;
    margin: 0px 0px 20px 0px;
}

div#titulo-cad {
    background-image: linear-gradient(to top, black 70%,rgba(0, 0, 0, 0.797));
    width: 100vw;
    align-items: left;
    bottom: 0;
    position: absolute;
    box-shadow: 0px -25px 16px 11px rgba(0, 0, 0, 0.797);
    
}

div#titulo-cad > h1 {
    padding: 5px;
    color: #EB7F04;
    font-weight: 900;
    font-family: 'Anton-SC', sans-serif;
    font-size: 40px;
  
 
}

/* header > p {
    width: 40%;
    margin-bottom: 2px;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: white;
    position: absolute;
    bottom: 10px;
} */



/* nav > h5 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    margin-right: 5px;
} */

nav > a > span.material-symbols-outlined {
    height: auto;
    font-size: 36px;
    color: black;
    position: absolute;
    top: 2%;
    right: 0;
    padding: 0;
    padding-right: 20px;
    margin: 0;
} 

main {
    width: 100vw;
    height: auto;
 
    
}


section {
    width: 100vw;
    background-color: white;
    /* background-color: red; */
    height: auto;
    display: inline-block;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
  

}


div#pqn-texto-cad {
    display: flex;
    width: 60%;
    height: 70px;
    background-color: black;
    color: var(--atomicTangerine);
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 0.8em;
     margin: auto; 
    
   
   
    text-align: center;
    align-items: center;
    justify-content: center;
   
    border-radius: 10px 10px 0px 0px;
    border: 5px solid black;
}


h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
   font-weight: 200;
   margin: 10px 0px 10px 0px;
}


div#img {
    display: block;
    width: 50%;
}


/* imagem da logo do site acima dos campos do login*/




div#container-cadastro {
    /* background-color: green; */
    background-color: #EB7F04;
    /* background-image: linear-gradient(to right, #e98a15, #e28502) */
     margin: auto;
    width: 80%;
    height: auto;
    display: block;
    justify-content: center;
    padding: 5px; 
    border-radius: 10px 10px;
    padding: 10px 0px 10px 10px;
    box-shadow: 0px 5px 5px 0.1px rgba(0, 0, 0, 0.797);
}


form {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 95%;
   
}


div#container-cadastro > .material-symbols-outlined {
    font-size: 20px;
    transform: translateY(26%);
    padding-right: 2.5px;
}

img.icon {
    width: 25px;
    height: 20px;
    transform: translateY(22%);
    padding-right: 2.5px;
}

span.person {
    transform: translateY(22%)


}

span.icon-identid {
    transform: translateY(22%);
}

span.icon-local {
    transform: translateY(22%);
}

span.icon-tel {
    transform: translateY(18%);
}



label {
    font-family: 'Kanit', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     height: auto;
     display: block;
     text-align: justify;
    /* background-color: yellow; */
    font-weight: 600;
     font-size: 0.9em;

}

abbr {
    font-weight: 700;
}

label > mark {
    color: red;
    background-color: transparent;
    font-weight: 800;
}



/* input#input-telefone:focus::placeholder {
    color: transparent;
} */

/* input#input-telefone::-ms-value {
    color: transparent;
} */

/* input#input-telefone:focus::-ms-value {
    color: black;
} */



input {
    /* min-width: 20px; */
    background-color: pink;
    margin-bottom: 10px;
    /* width: 20%; */
    height: 27px;
    background-color: whitesmoke;
    color: black; 
    /* color: orange; */
    border: 3px solid black;
    border-radius: 9px;
    
    font-weight: bold;
    display: block;
    text-indent: 9px;
    margin-bottom: 10px;
    
    /* text-align: center; */

}

input:focus {
    height: 27px;
    color: #E98A15;
    border: 4px solid white;
    

}



select {
    width: 50%;
    background-color: black;
    color: #EB7F04;
    margin-bottom: 20px;
}

button#btn-cep {
    background-color: black;
    border: 5px solid black;
    border-radius: 4px 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1em;
    color: var(--coolGray);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.33);
     margin-bottom: 10px; 
}

button#btn-cep:hover {
    cursor: pointer;
}





/* select > option {
    background-color: #EB7F04;
    color: black;
} */



div#acessar {
    background-color: black;
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.797);
}

div#acessar > a {
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    display: block;
    color: orange;
    text-decoration: underline;
    margin: 10px 0px 10px 0px;
  
  
}

div#acessar > button {
    color: white;
    font-weight: 200;
    background-color: #EB7F04;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    width: auto;
    height: 30px;
    display: block;
    border: 5px solid #EB7F04 ;
    border-radius: 4px 4px;

}


div.div-msg-erro {
    width: auto;
    display: block;
    margin-bottom: 8px;
  

}

div#div-erro-local {
    display: flex;
}

span.icon-erro {
   
    font-size: 16px;
    transform: translateY(10%);
    margin-right: 2px;
}

span#icon-local-erro {
    
    font-size: 20px;
  
}

p.msg-erro {
    color: rgb(196, 4, 4);
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    display: none;
    font-size: 0.9em;
    text-decoration: solid;
    
}

p.info-local {
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    
}

section#section-oculta {
    display: none;
}


section#cadastro {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
}



div#cad-efetuado {
    display: inline-block;
    padding: 10px;
    color: var(--atomicTangerine);
    background-color: black;
    width: 70%;
    height: auto;
    margin: auto;
    text-align: center;
    align-items: center;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: greenyellow;

    border-radius: 10px 10px 10px 10px;

    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.797);
}

div#cad-efetuado > p#saida-bmvd {
    color: var(--atomicTangerine);
    width: 90%;
   
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin: 10px auto 10px auto;
    
  
}

div#cad-efetuado > h3 {
    text-align: center;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    display: block;
   
}

div#cad-efetuado > span {
    font-size: 2.1em;
    margin-bottom: 10px;
}


p#p-erro-local > abbr {
    margin: 0px 3.5px 0px 3.5px;
}




footer {


}




/* ---------- mediaQuery -------------------*/


/* imagem da logo do site ao lado dos campos para não precisar mais centralizar*/

@media (min-width: 600px) {


    div#pqn-texto-cad {
        width: 45%;
    }

    h3 {
        text-align: left;
    }


    div#container-cadastro {
        width: 65%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
       
    }

    div#img {
        
        display: block;
        /* margin-top: 15%; */
    }
    

     form {
        width: 50%;
        display: block;
        padding: 5px;
        justify-content: center;
        /* padding-left: 25%; */
      
    }

    div#acessar {
        width: 45%;
    }





}


