

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /* novas cores*/

    --fulvous: #E98A15;
    --atomicTangerine: #F98948;
    --egyptianBlue: #29339B;
    --coolGray: #A7A5C6;
    --fernGreen: #3f784c;

/* cores velhas*/

    --tangerine: #EB7F04;
    --blackbean: #3C1518;
    --bloodred: #69140E;
    --honolulu: #2176AE;
    --rosequartz: #9A8C98;
    --cor1: #59876D;
    --cor2: #CFB094;

}

* {
    margin: 0px;
    padding: 0px;
}



nav {
    color: black;
    width: 100vw;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: #F98948;
    display: flex;
    top: 0px;
    /* position: fixed;
    z-index: 0; */

}


header {
    background-image: url(../imagens/imgs-background/pexels-victor-freitas-703016.jpg);



  
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 270px;
    position: relative;
    margin: 0px 0px 20px 0px;
}

div#titulo-cad {
    background-color: black;
    width: 100vw;
    align-items: left;
    bottom: 0;
    position: absolute;
    
}

div#titulo-cad > h1 {
    padding: 5px;
    color: #EB7F04;
    font-weight: 500;
    font-family: 'Impact', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
  
 
}

/* header > p {
    width: 40%;
    margin-bottom: 2px;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: white;
    position: absolute;
    bottom: 10px;
} */



/* nav > h5 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    margin-right: 5px;
} */

nav > a > span.material-symbols-outlined {
    height: auto;
    font-size: 36px;
    color: black;
    position: absolute;
    top: 2%;
    right: 0;
    padding: 0;
    padding-right: 20px;
    margin: 0;
}

main {
    width: 100vw;
    height: auto;
 
    
}


section {
    width: 100vw;
    background-color: white;
    /* background-color: red; */
    height: auto;
    display: inline-block;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
  

}


div#pqn-texto-cad {
    display: flex;
    width: 55%;
    height: 70px;
    background-color: black;
     margin: auto; 
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--atomicTangerine);
    border-radius: 10px 10px 0px 0px;
    border: 5px solid black;
}


h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
   font-weight: 200;
   margin: 10px 0px 10px 0px;
}


div#img {
    display: block;
    width: 50%;
    
}

/* 
div#img > img {
    margin: auto;
} */






/* imagem da logo do site acima dos campos do login*/




div#container-cadastro {
    /* background-color: green; */
    background-color: #EB7F04;
     margin: auto;
    width: 70%;
    height: auto;
    display: block;
    justify-content: center;
    padding: 5px; 
    border-radius: 10px 10px;
    padding: 10px 0px 10px 10px;
}


form {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 95%;
   
}


.material-symbols-outlined {
    font-size: 17px;
}

label {
    font-family: 'Kanit', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     height: auto;
     display: block;
     text-align: justify;
    /* background-color: yellow; */
    font-weight: 600;
     font-size: 1.0em;

}

input {
    /* min-width: 20px; */
    background-color: pink;
    margin-bottom: 10px;
    /* width: 20%; */
    height: 27px;
    background-color: whitesmoke;
    color: black; 
    /* color: orange; */
    border: 3px solid black;
    border-radius: 9px;
    
    font-weight: bold;
    display: block;
    text-indent: 9px;
    margin-bottom: 10px;
    /* text-align: center; */

}

input:focus {
    height: 27px;
    color: #E98A15;
    border: 4px solid white;

}

select {
    width: 50%;
    background-color: black;
    color: #EB7F04;
    margin-bottom: 20px;
}

button#btn-cep {
    background-color: black;
    border: 5px solid black;
    border-radius: 4px 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1em;
    color: var(--coolGray);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.33);
     margin-bottom: 10px; 
}

button#btn-cep:hover {
    cursor: pointer;
}





/* select > option {
    background-color: #EB7F04;
    color: black;
} */



div#acessar {
    background-color: black;
    width: 55%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

div#acessar > a {
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    display: block;
    color: orange;
    text-decoration: underline;
    margin: 10px 0px 10px 0px;
  
  
}

div#acessar > button {
    color: white;
    font-weight: 200;
    background-color: #EB7F04;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    width: auto;
    height: 30px;
    display: block;
    border: 5px solid #EB7F04 ;
    border-radius: 4px 4px;
}

p.msg-erro {
    color: rgb(196, 4, 4);
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    display: none;
    font-size: 0.9em;
    text-decoration: solid;
    
}


section#section-oculta {
    display: none;
}


section#cadastro {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
}



div#cad-efetuado {
    display: inline-block;
    padding: 5px;
    color: var(--atomicTangerine);
    background-color: black;
    width: 70%;
    margin: auto;
    text-align: center;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: greenyellow;

    border-radius: 10px 10px 10px 10px;
}

div#cad-efetuado > p {
    margin: 10px 0px 10px 0px;
}

div#cad-efetuado > span {
    font-size: 2.1em;
}



footer {


}




/* ---------- mediaQuery -------------------*/


/* imagem da logo do site ao lado dos campos para não precisar mais centralizar*/

@media (min-width: 600px) {


    div#pqn-texto-cad {
        width: 45%;
    }

    h3 {
        text-align: left;
    }


    div#container-cadastro {
        width: 65%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
       
    }

    div#img {
        display: block;
        /* margin-top: 15%; */
    }
    

     form {
        width: 50%;
        display: block;
        padding: 5px;
        justify-content: center;
        /* padding-left: 25%; */
      
    }

    div#acessar {
        width: 45%;
    }


}








/*


header > form {

    background-color: #101119;
    max-width: 70vw;
    height: 150px;
    top: 30%;
    left: 10%;
    padding: 5px;
    position: relative;
    

    border: 3px solid var(--tangerina);
    box-shadow: 2px 2px 70px rgb(230, 151, 5);
    /* box-shadow: 10px 10px 10px rgba(10, 218, 190, 0.57); 
    border-radius: 6px; 
    
}


header {
    background-image: url(../imagens/pexels-victor-freitas-791763.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    max-width: 100vw;
    height: 400px;
    margin: 0px;
    padding: 0px;
    border-bottom: 30px solid black;
    
}


 
form > h2 {
    position: relative;
    top: 2%;
    margin: 0px;
    padding: 0px;
    left: 15%;
    right: 15%;
    font-size: 12px;
}

form > div.campo-entrada {
    
    align-items: center;
    max-width: 20px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 2px;
     background-color: green; 
    color: white;
  
    
    
}

form > div.campo-entrada > input {
     background-color:red; 
    max-width: 45vw;
    height: 30px;
    background-color: rgb(183, 197, 180);
    box-shadow:  2px 2px 21px  #2364aa;
    margin-top: 10px;
    margin-left: 15px;
  
  
}

form > div.campo-entrada > input#id-email {
    background-color: #ea8c34;
    
    margin-bottom: 0px;
}




div.campo-entrada {
    display: flex;
}


 */
