@charset "UTF-8";
/* versão mobile first, de 680px para baixo*/



:root {
    --cor1: #101119;
    --cor2: #8d99ae;
    --cor3: #edf2f4;
    --cor4: #d80032;

}


* {
    margin: 0px;
    padding: 0px;
}

header  {
    color: white;
   
  

}

nav {
    width: 100vw;
    height: 30px;
    background-color: #8d99ae;
}

nav a {
    color: white;
    background-color: black;
    display: inline-block;
    text-decoration: none;
    
}

header {
    background-image: url(../imagens/pexels-lukas-669578.jpg);
   
    background-size: cover;
    width: 100vw;
    height: 400px;
    box-shadow: 80px 10px 10px solid green;
    border-radius: 0px 10px 10px 0px;
}

header > div#form-login {

    background-color: #101119;
    padding: 5px;
    position: relative;
    top: 50%;
    left: 50%; 
    border-radius: 6px; 
    
}

 div.campo-entrada {

    
}

div#form-login > div.campo-entrada {
    background-color: green;
    color: white;
    font-weight: 400;
    
    
}

div#form-login > div.campo-entrada > input {
    background-color:red;
    height: 30px;
    width: 200px;
}





/* main > div#texto-maior {
    color: black;
    background-color: rgba(0, 0, 0, 0.627);
    font-size: 30px;
    max-width: 300px;
    border-radius: 0% 50% 50% 0%;
}

main > div#texto-maior > p {
    margin: 50px;
}



section#texto-imagem {
    display: flex;
} */