@charset "UTF-8";
/* versão mobile first, de 680px para baixo*/



:root {
    --cor1: #101119;
    --cor2: #8d99ae;
    --cor3: #edf2f4;
    --cor4: #d80032;

}


* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
}

header  {
    color: white;
   
  

}

nav {
    width: 100vw;
    height: 30px;
    background-color: black;
}

nav > h1 {
    color: white;
    background-color: black;
    display: inline-block;
    text-decoration: none;
    
}

header {
    background-image: url(../imagens/pexels-victor-freitas-791763.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    width: 100vw;
    height: 400px;
    border-bottom: 30px solid black;
    
}

header > div#form-login {

    background-color: #101119;
    max-width: 90vw;
    height: 150px;
    top: 30%;
    padding: 5px;
    position: relative;
    

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid orange;
    box-shadow: 2px 2px 70px orange;
    /* box-shadow: 10px 10px 10px rgba(10, 218, 190, 0.57); */
    border-radius: 6px; 
    
}

 
div#form-login > h2 {
    position: relative;
    top: 2%;
    margin: 0px;
    left: 15%;
    right: 15%;
    font-size: 12px;
}

div#form-login > div.campo-entrada {
    align-items: center;
    margin: 0px;
    margin-left: 10px;
    padding: 2px;
    /* background-color: green; */
    width: 50px;
    color: white;
  
    
    
}

div#form-login > div.campo-entrada > input {
    /* background-color:red; */
    background-color: rgb(183, 197, 180);
    box-shadow: 2px 2px rgb(8, 67, 230);
    margin-top: 10px;
    margin-left: 15px;
    height: 30px;
  
}

div#form-login > div.campo-entrada > input#id-email {
    background-color: orange;
    
    margin-bottom: 0px;
}




div.campo-entrada {
    display: flex;
}


section#secao1 {
    display: flex;
}



div#imagem-lateral-1 {
    background-image: url(../imagens/pexels-andrej-klintsy-6392831.jpg);
    background-size: cover;
    position: relative;
    border-radius: 20px;
   
    width: 200px;
    height: 700px;
}





/* main > div#texto-maior {
    color: black;
    background-color: rgba(0, 0, 0, 0.627);
    font-size: 30px;
    max-width: 300px;
    border-radius: 0% 50% 50% 0%;
}

main > div#texto-maior > p {
    margin: 50px;
}



section#texto-imagem {
    display: flex;
} */