@charset "UTF-8";
/* versão mobile first, de 680px para baixo*/


 /* @font-face {
    font-family: 'JackportRegular', Verdana, Geneva, Tahoma, sans-serif ;
    src: url(../fontes/JackportRegularNcv-BeY3.ttf);
}

@font-face {
    font-family: 'SportageDemo';
    src: url(../fontes/SportageDemo-DO0A1.otf);
}

@font-face {
    font-family: 'SportageDemoItalic';
    src: url(../fontes/SportageDemoitalic-p735r.otf); 
}

@font-face {
    font-family: 'Sui';
    src: url(../fontes/sui-generis-free/sui\ generis\ rg.otf);
}  */


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');





:root {

    /* novas cores*/

    --fulvous: #E98A15;
    --atomicTangerine: #F98948;
    --egyptianBlue: #29339B;
    --coolGray: #A7A5C6;
    --fernGreen: #3f784c;

/* cores velhas*/

    --tangerine: #EB7F04;
    --blackbean: #3C1518;
    --bloodred: #69140E;
    --honolulu: #2176AE;
    --rosequartz: #9A8C98;
    --cor1: #59876D;
    --cor2: #CFB094;
  

    /* é melhor pegar uma cor unica e ir pegando os tons mais escuros dela, igual  o site do tailwind*/


    /* --cor1: #101119;
    --cor2: #8d99ae;
    --cor3: #edf2f4;
    --cor4: #d80032; */

}




/* css para no minimo 300px, por causa do header*/




html, body {

    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    
}


nav#fixa {

    width: 100vw;
    height: 60px;
    margin: 0px;
    padding: 0px;
    position: sticky;
    z-index: 10;
    display: block;
    
} 


nav#nav-topo {

    background-color: var(--atomicTangerine);
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border-bottom: 4px solid  black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

}


span#span-nav {

    font-size: 3em; 
}



nav#nav-topo > button {

    background-color: transparent;
    border-color: transparent;
    right: 0;
    padding-right: 20px; 

    position: absolute;
}


nav#nav-topo  > span {

    color: black;
   position: absolute;

}



div#btns-links {

    display: none;
}





nav#nav-topo > picture {
    
    height: auto; 
    margin: 0;
    padding-left: 5px;
    display: block;
    transform: translateY(1%);
  

} 


/* nav#nav-topo > h5 {
     color: black;
    font-family: 'Work-Sans', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    margin-right: 5px; 

}  */



nav#opt-oculta {
    display: none;
    width: 100vw; 
   

   

}


/* 
div#div-menu {
    /* background-color: #69140E; 
    width: 100vw;
    height: 30px;
    display: flex;
    position: relative;

 */



div#div-menu {
    /* background-color: red; */
     width: 100vw;
     height: auto; 
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     position: fixed;
     top: 64px;
     z-index: 10;
     transition: bottom 2.5s ease;



}


div#menuHamb {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 43px;
    margin: 0;
    margin-top: 0px;
 

}

p#linha {
    color: var(--atomicTangerine);
   
}

div#opcoes {

    width: 100%;
    height: auto;
    margin: 0;
    /* margin-bottom: 2px; */
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--atomicTangerine);
    justify-content: center;
    vertical-align: middle;


}



div#opcoes a {
    
    width: 70px;
    display: block;
    margin-bottom: 5px;
} 


div#menuHamb > div#opcoes > a {
    text-align: center;
    padding: 4px;
    width: 60px;

    color: black;

    /* color: #F98948; */

    font-family: 'Anton-SC', sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 4px 4px; 
    align-items: center;
    display: block;

    margin: auto;
   
  

}

a#cad, a#log {
   
    display: block;
    background-color: var(--atomicTangerine);
    cursor: pointer; 


}




div#opcoes > a {
    text-decoration: none;
   
    
} 



 header { 
    display: flex;
    align-items: center;
    vertical-align: center;
  
    color: white;
    min-width: 100vw;
    height: 320px;
    background-image: url(../imagens/gigachad-recortado.jpg);
    background-size: cover;
    /* background-position: top center; */
    margin: 0px 0px 20px 0px;
    padding: 0;
 

}


div#header-p {
    width: 50%;
    height: auto;


}

 div#header-p > p { 
    width: auto;
   font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #eb7f0443; */
   font-size: 1.5em;
   text-indent: 2px;
   text-align: justify;
   margin: 0px;
   padding: 0px;
   padding-top: 10px;
   padding-right: 29px;
   padding-left: 10px;

  
}


div#header-p > p > mark {
    font-family: 'Anton-SC', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    color: black;
    text-shadow: #e28502 2px 40px 0px;
    
}



/* main {
    width: 98vw;
    margin: auto;
    margin: 0px;
    padding: 0px;
} */


main > a {
    color: black;
    text-decoration: none;
}

div#texto-inicial {
    width: 98%;
   
    margin: 50px 0px 50px 0px;
  
    padding: 0px;
    text-align: center;
    /*font-family: 'Sui', Verdana, Geneva, Tahoma, sans-serif;*/
}

div#texto-inicial > h3 {
    font-size: 18.72px;
    font-weight: 600;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
}

div#texto-inicial > p {
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
}



section.secao-calculos {
    width: 100vw;
    height: auto;
    background-color: white;
    margin: 0px;
     margin-bottom: 30px;

    justify-content: center;
   
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;
   
}


.container {
    /* background-color: rgba(255, 0, 0, 0.379); */
    /* background-color: var(--cor2); */
    /* background-color: var(--fulvous); #E98A15*/
    background-image: linear-gradient(to right, #e98a15, #e28502);
    
    /* width: 220px; */
    width: 260px;
    color: black;
    display: block;
    /* height: 190px;230px height original */ 
    height: 265px;
    border-radius: 10px;
    overflow: hidden;
    /* margin-bottom: 12px; */
    position: relative;
    box-shadow: 0px 2.0px 10px black;
    
  
 
}


.img-container {
    /* background-color:forestgreen; */
    height: 140px; /*aumentar aqui e ir mexendo no height do h4 talvez, pois a div com o texto tá sumindo,, talvez tenha haver com o display block ou o z index; 110px height original*/
    margin: 0px;
    display: block;
    
    

}


div#div-geb-container {
    margin: 0;
    padding: 0;
}

.txt-container {
    height: auto;
    /* background-color: rgba(255, 255, 0, 0.523); */
    margin: 10px 0px 0px 0px;
    display: block;
    justify-content: center;

    text-align: center;
    font-size: 0.9em;

}

div#div-imc {
    margin-right: 4px; 
 }

 div#div-geb {
    margin-left: 4px; 
 }



.txt-container > p {
    /* color: #ac460a; */
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
    color: white;
    margin: 0px;
    margin-bottom: 8px;
    display: block;
   
}

.txt-container > h4 {
    font-family: 'Kanit', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    display: block;
    margin: 0px;
    margin-bottom: 1px;
}


div.botao-ir > a {
    width: auto;
    color: orange;
    margin: 0px;
    padding: 0px;
    display: block;
    
    text-decoration: none;
    
    /* font-family: 'Anton-SC', sans-serif; */
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1.2em;

   

}


div.botao-ir {
   
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: cadetblue; */
    background-color: black;
    width: 50%;
    height: 20%;
    position: absolute;
    left: 25%; 
    cursor: pointer;
    bottom: 8px;
   
 
}

/* main > p {
    color: black;
    font-size: 2.0em;
    text-align: center;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
} */




div#imagem-imc {
    background-image: url(../imagens/imgs-background/pexels-annushka-ahuja-7992184.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 10% left;

}

div#imagem-calccal {
    background-image: url(../imagens/imgs-background/pexels-dana-tentis-750073.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div#imagem-geb {
    background-image: url(../imagens/imgs-background/pexels-rosemary-ketchum-1564470.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}





h3 {
    margin: 0px;
    padding: 0px;
}


/* section.imagem-texto {
    /* display: flex; somente em tamanho de telas de tablet*/
    /* font-family: 'Kanit'; */
    /* display: flex;
    flex-wrap: nowrap; */


section.imagem-texto > .texto > p {
    margin: 0;
    padding: 10px;
   
}


div.imagem {
    width: 100vw;
    height: 300px;
 
    margin: 0;
    padding: 0px;
    border-radius: 2px 2px;
    /* border: 2px solid black; */

}

div.imagem > img {
    width: 100%;
    height: 100%;
   
}

div.texto {

    background-color: transparent;
    margin: 0;
    padding-left: 12px;
    padding: 7px;
    width: 90%;
    justify-content: center;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
    
    
    /* height: 210px; */
    /* display: block; */
   
}






section#txt-img1 {
    background-color: black;
    color: #da8208;

}

section#txt-img2 {
    background-color: #da8208;
    color: black;

}

section#txt-img3 {
    background-color: black;
    /* color: #da8208; */
    color: whitesmoke;
    height: 100%;
    padding: 0;
    float: right;
    margin: 0;
    margin-bottom: 40px;
  

}

/* section#txt-img4 {
    background-color: #da8208;
    color: black;

} */


div#img-1 {
    background-image: url(../imagens/imgs-background/pexels-william-choquette-1954524\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* margin-left: 2px; */
}

div#img-2 {
    background-image: url(../imagens/imgs-background/pexels-cottonbro-studio-4325451.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    float: right;
    margin: 0px 0px 0px 0px;
   
    /* margin-right: 2px; */
}

div#img-3 {
    background-image: url(../imagens/imgs-background/pexels-kampus-production-6922169.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    /* margin-left: 2px; */
}


 section#container-planos {
    width: 100vw;
    height: auto;
    background-color: black;
    margin: 0;
    padding: 30px 0px 30px 0px;
    justify-content: center;
    display: flex; 
    gap: 10px; 
    flex-wrap: wrap;
    
    
}






.vlrPlano {
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    font-family: 'Kanit', sans-serif;
    margin-top: 40px;
    margin-bottom: 10px;

}

.nomePlano {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif sans-serif;
    margin: 0;
}

div#planoDigit > .vlrPlano {
    color: cadetblue;

}


div#planoBasic > .vlrPlano {
    color: rgb(255, 196, 0);
/*    
    background-color: white;; */
}

div#planoMedio > .vlrPlano {
   color: rgb(253, 129, 6);
} 

div#planoAdvanced > .vlrPlano {
    color: rgb(255, 85, 0);
}

div.divPlano {
    display: block;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: white;
     margin: 10px 10px 10px 10px; 
    width: 250px;
    height: auto;
    border-radius: 10px 10px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 2.0px 2.0px 10px orange;
    
   
    

}


/* colocar box-shadow nas divs dos planos**/

ul {
    text-align: center;
    margin-bottom: 40px;
    list-style: none;
    align-items: center;
    padding: 0;
}

li {
    margin: 10px;
}
/* 
div.plano > span {
    /* font-size: 5px;  */


.divPlano > ul > li > .ico-img {
    width: 19px;
    height: 19px;
    padding-right: 4px ;

}

.ico-img-rezise {
    width: 20px;
    height: 20px;
}

/* ul > li > span#personalDgtal {

    transform: translateY(20%);
} */

span.li-cel {
    font-size: 17px;
}


span.li-live {
    font-size: 17px; /* ir ajustando o fonte-size paraa cada icone*/

}

/*span.li-equip {


}*/

span.li-pred {
    font-size: 17px;


}


.li-bonus {
    color: #e28502;
}



.divPlano > .btn-planos {
   text-decoration: none;
    align-items: center ;
    justify-content: center;
    font-family: 'Anton-SC', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    display: flex;
    color: #e28502;
    background-color: black;
    width: 60%;
    height: 70px;
   margin: 20px auto 20px auto;
    
    border-radius: 24px 24px;
    /* position: absolute;
    left: 20%;
    bottom: 2px; */

    
}













