@charset "UTF-8";
/* versão mobile first, de 680px para baixo*/


 /* @font-face {
    font-family: 'JackportRegular', Verdana, Geneva, Tahoma, sans-serif ;
    src: url(../fontes/JackportRegularNcv-BeY3.ttf);
}

@font-face {
    font-family: 'SportageDemo';
    src: url(../fontes/SportageDemo-DO0A1.otf);
}

@font-face {
    font-family: 'SportageDemoItalic';
    src: url(../fontes/SportageDemoitalic-p735r.otf); 
}

@font-face {
    font-family: 'Sui';
    src: url(../fontes/sui-generis-free/sui\ generis\ rg.otf);
}  */


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





:root {

    /* novas cores*/

    --fulvous: #E98A15;
    --atomicTangerine: #F98948;
    --egyptianBlue: #29339B;
    --coolGray: #A7A5C6;
    --fernGreen: #3f784c;

/* cores velhas*/

    --tangerine: #EB7F04;
    --blackbean: #3C1518;
    --bloodred: #69140E;
    --honolulu: #2176AE;
    --rosequartz: #9A8C98;
    --cor1: #59876D;
    --cor2: #CFB094;
  

    /* é melhor pegar uma cor unica e ir pegando os tons mais escuros dela, igual  o site do tailwind*/


    /* --cor1: #101119;
    --cor2: #8d99ae;
    --cor3: #edf2f4;
    --cor4: #d80032; */

}




/* css para no minimo 300px, por causa do header*/


html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}

body {
  
    margin: 0px;
    border: 0px;
    padding: 0;
   
}


nav#fixa {
   
    width: 100vw;
    height: 60px;
    position: fixed;
    margin: 0px;
    padding: 0px;
   z-index: 1;
    
} 


nav#nav-topo {

   width: 100vw;
   height: 60px;
   margin: 0px;
   padding: 0px;
   background-color: var(--atomicTangerine);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
}


span#span-nav {
    font-size: 3em; 
}

nav#nav-topo > button {
    background-color: transparent;
    border-color: transparent;
    right: 0;
    padding-right: 20px; 
    position: absolute;
}


nav#nav-topo  > span {
    color: black;
   position: absolute;

}



div#btns-links {
    display: none;
}





nav#nav-topo > picture {
     display: block;
    height: auto; 
    margin: 0;

} 


/* nav#nav-topo > h5 {
     color: black;
    font-family: 'Work-Sans', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    margin-right: 5px; 

}  */



nav#oculta {
    display: none;
    width: 100vw; 
 
   

}

div#div-menu {
    /* background-color: #69140E; */
    width: 100vw;
    height: 30px;
    display: flex;
    position: relative;
}





div#div-menu {
    /* background-color: red; */
     width: 100vw;
     height: 60px; 
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;



}


div#menuHamb {
    background-color: black;
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    height: 43px;
    margin: 0;
    margin-top: 60px;
 

}

p#linha {
    color: var(--atomicTangerine);
   
}






    /* height: 26px; */

    /* margin: 0;
    padding: 5px 0px 0px 0px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.603); */
   




/* 
div#menu {
    background-color: blue;
    width: 100%;
    display: block;
    position: absolute;
    padding: 0;
   
} */



 /* menu#opcoes > ul {
    display: flex;
    position: absolute;
    width: 100%;
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-style: normal;
    font-size: small;
    background-color: red;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
  
}  */




div#opcoes {

    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--atomicTangerine);
    



}



div#opcoes a {
    
    width: 70px;
    display: block;
    margin-bottom: 5px;
} 




/* 
menu > ul {
    margin: 0;
    padding: 0; 
   
} */






div#menuHamb > div#opcoes > a {
    text-align: center;
    padding: 4px;
    width: 60px;

    color: black;

    /* color: #F98948; */

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 4px 4px; 
    align-items: center;

    margin: auto;
   
  

}

a#cad, a#log {
   
    display: block;
    background-color: var(--atomicTangerine);
    cursor: pointer; 

}




div#opcoes > a {
    text-decoration: none;
   
    
} 




   
 

    

   /* margin: 0;
    height: 20px;
    flex-basis: 20px;
    justify-content: space-between;
    flex-wrap: wrap; */
  

 /* #menu > a {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1; 
}  */








 header { 
    display: flex;
    position: relative;
     top: 40px; 
    color: white;
    width: 100vw;
    height: 310px;
    background-image: url(../imagens/gigachad-recortado.jpg);
    background-size: cover;
    /* background-position: top center; */
    margin: 0px 0px 20px 0px;
    z-index: 0;
    

  
}

 header > p { 
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    font-family: 'Kanit', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: #eb7f0443; */
    font-size: 1.5em;
   text-indent: 2px;
   margin: 0px;
   padding: 0px;
   padding-top: 10px;
   padding-right: 29px;
   padding-left: 10px;
  
}

/* div#texto-header {
    padding: 0;
    margin: 0px 10px 0px 0px;
} */


mark {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}



main {
    margin: 0px;
    padding: 0px;
}


main > a {
    color: black;
    text-decoration: none;
}

div#texto-inicial {
    width: 98%;
    font-size: 0.7em;
    margin: 0px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 0px;
    text-align: center;
    font-family: 'Sui', Verdana, Geneva, Tahoma, sans-serif;
}


section.secao-calculos {
    width: 100vw;
    height: auto;
    background-color: white;
    margin: 0px;
     margin-bottom: 30px;

    justify-content: center;
   
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;
   
}


.container {
    /* background-color: rgba(255, 0, 0, 0.379); */
    /* background-color: var(--cor2); */
    /* background-color: var(--fulvous); #E98A15*/
    background-image: linear-gradient(to right, #e98a15, #e28502);
    
    /* width: 220px; */
    width: 260px;
    color: black;
    display: block;
    /* height: 190px; */ 
    height: 230px;
    border-radius: 10px;
    overflow: hidden;
    /* margin-bottom: 12px; */
    position: relative;
    box-shadow: 2.0px 2.0px 6px black;
    
  
 
}


.img-container {
    /* background-color:forestgreen; */
    height: 110px;
    margin: 0px;
    display: block;
    
    

}


div#div-geb-container {
    margin: 0;
}

.txt-container {
    height: auto;
    /* background-color: rgba(255, 255, 0, 0.523); */
    margin: 10px 0px 0px 0px;
    display: block;
    justify-content: center;

    text-align: center;
    font-size: 0.9em;

}

div#div-imc {
    margin-right: 4px; 
 }

 div#div-geb {
    margin-left: 4px; 
 }



.txt-container > p {
    /* color: #ac460a; */
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
    color: white;
    margin: 0px;
    margin-bottom: 8px;
    display: block;
   
}

.txt-container > h4 {
    font-family: 'Kanit', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    display: block;
    margin: 0px;
    margin-bottom: 1px;
}


div.botao-ir > a {
    color: orange;
    margin: 0px;
    padding: 0px;
    position: absolute;
    text-decoration: none;
    top: 25%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 1.2em;

   

}


div.botao-ir {
    justify-content: center;
    border-radius: 9px;
    display: flex;
    /* background-color: cadetblue; */
    background-color: black;
    width: 50%;
    height: 20%;
    position: absolute;
    left: 25%;
    cursor: pointer;
    bottom: 8px;
   
 
}

/* main > p {
    color: black;
    font-size: 2.0em;
    text-align: center;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
} */




div#imagem-imc {
    background-image: url(../imagens/imgs-background/pexels-annushka-ahuja-7992184.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;

}

div#imagem-calccal {
    background-image: url(../imagens/imgs-background/pexels-dana-tentis-750073.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div#imagem-geb {
    background-image: url(../imagens/imgs-background/pexels-rosemary-ketchum-1564470.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}





h3 {
    margin: 0px;
    padding: 0px;
}


/* section.imagem-texto {
    /* display: flex; somente em tamanho de telas de tablet*/
    /* font-family: 'Kanit'; */
    /* display: flex;
    flex-wrap: nowrap; */


section.imagem-texto > .texto > p {
    margin: 0;
    padding: 10px;
   
}


/* section.imagem-texto1 { */
    /* as sections vão ter cor de fundo para quando serem para desktops, preto e laranja, ou laranja e o azul bonito, ai as letras vão ter as cores preto ou laranja, ou o azul, ve aí*/


div.imagem {
    width: 100vw;
    height: 300px;
 
    margin: 0;
    padding: 0px;
    border-radius: 2px 2px;
    /* border: 2px solid black; */

}

div.imagem > img {
    width: 100%;
    height: 100%;
   
}

div.texto {

    background-color: transparent;
    margin: 0;
    padding-left: 12px;
    padding: 7px;
    width: 90%;
    justify-content: center;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
    
    
    /* height: 210px; */
    /* display: block; */
   
}






section#txt-img1 {
    background-color: black;
    color: #da8208;

}

section#txt-img2 {
    background-color: #da8208;
    color: black;

}

section#txt-img3 {
    background-color: black;
    color: #da8208;
    height: 100%;
    padding: 0;
    float: right;
    margin-bottom: 40px;
  

}

/* section#txt-img4 {
    background-color: #da8208;
    color: black;

} */


div#img-1 {
    background-image: url(../imagens/imgs-background/pexels-william-choquette-1954524\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* margin-left: 2px; */
}

div#img-2 {
    background-image: url(../imagens/imgs-background/pexels-cottonbro-studio-4325451.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    float: right;
    margin: 0px 0px 0px 0px;
   
    /* margin-right: 2px; */
}

div#img-3 {
    background-image: url(../imagens/imgs-background/pexels-kampus-production-6922169.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    /* margin-left: 2px; */
}


 section#container-planos {
    width: 100vw;
    height: auto;
    background-color: black;
    margin: 0;
    padding: 30px 0px 30px 0px;
    justify-content: center;
    display: flex; 
    gap: 10px; 
    flex-wrap: wrap;


}






.vlrPlano {
    text-align: center;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 40px;
    margin-bottom: 10px;

}

.nomePlano {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Kanit', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

div#planoDigit > .vlrPlano {
    color: cadetblue;

}


div#planoBasic > .vlrPlano {
    color: rgb(255, 196, 0);
/*    
    background-color: white;; */
}

div#planoMedio > .vlrPlano {
   color: rgb(253, 129, 6);
} 

div#planoAdvanced > .vlrPlano {
    color: rgb(255, 85, 0);
}

div.divPlano {
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: white;
     margin: 10px 10px 10px 10px; 
    width: 260px;
    height: auto;
    border-radius: 10px 10px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 2.0px 2.0px 10px orange;
    

}


/* colocar box-shadow nas divs dos planos**/

ul {
    text-align: center;
    margin-bottom: 40px;
    list-style: none;
    align-items: center;
    padding: 0;
}

li {
    margin: 10px;
}

div.plano > span {
    /* font-size: 5px; */
}

span.li-cel {
    font-size: 17px;
}


span.li-live {
    font-size: 17px; /* ir ajustando o fonte-size paraa cada icone*/

}

span.li-equip {


}

span.li-pred {
    font-size: 17px;


}



span.icons-lista {


}










footer {
    width: 100vw;
    height: auto;
    /* height: 150px; */
    margin: 0px;
    margin-top: 40px;
    padding: 0px;
    background-color: var(--atomicTangerine);
    /* background-color: black; */
    color: black;
    text-align: center;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}

footer > p {
    margin: 0px;
    padding: 2px 3px 0px 3px;
}


mark {
    background-color: transparent;
    color: #da8208;
}
















/* section#secao1 {
    width: 95vw;
    height: 610px;
    margin: 2px 2px;
    position: relative;
    background-image: url(../imagens/pexels-andrej-klintsy-6392831.jpg);
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    display: inline-block;
} */



/* div#imagem-lateral-1 {
    background-image: url(../imagens/pexels-andrej-klintsy-6392831.jpg);
    background-size: cover;
    /* transform: translateX(53%); */
    /* border-radius: 20px; */
    /* padding: 0px;
    width: 100vw;
    height: 400px; */

/* 
 div.assinar {
    height: 47px;
    border-radius: 0px 0px 30px 30px;
    background-color: #190b28;
    text-decoration: none;
    display: block;
    margin: 0px;
    margin-top: -8px;
    padding: 0px;

 }

 div.assinar > a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    color: #ea8c34;
    position: relative;
    top: 25%;
    text-decoration: none;
 }

section#secao1 > div#plano-basico {
    text-align: center;
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 54vw;
    min-height: 32vh;
    color: #96031a;
    font-weight: 300;
    background-color: whitesmoke;
    position: absolute;
    display: inline-block;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
  
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 3px;
 
    padding-bottom: 3px;
    border-radius: 30px 30px;
}

div#plano-basico > h4 {
    font-weight: 600;
}


div.titulo-cartao {
    display: block;
    top: 2%;
    margin: 0px;
    position: relative;
    
    bottom: 3%;

}

div#titulo-basico > h4 {
    color: greenyellow;
    
}




section#secao1 > div#plano-basico > span {

    color: green;
    font-weight: bolder;
    transform: translateY(5px);
    margin: 0px;
    margin-bottom: 2px;
} */





/* main > div#texto-maior {
    color: black;
    background-color: rgba(0, 0, 0, 0.627);
    font-size: 30px;
    max-width: 300px;
    border-radius: 0% 50% 50% 0%;
}

main > div#texto-maior > p {
    margin: 50px;
}



section#texto-imagem {
    display: flex;
} */